* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  --color-primary: #37474f;
  --color-primary-dark: #263238;
  --color-primary-light: #546e7a;
  --color-primary-lighter: #b0bec5;
  --text-color: #fafafa;
  --link-color: #444444;
  --border-color: rgba(176, 190, 197, 0.5);
  --shadow-color: rgba(0, 0, 0, 0.2);
  --shadow-color-dark: rgba(0, 0, 0, 0.25);
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background: white;
}

.main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  position: relative;
  -webkit-align-items: flex-start;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.single {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  user-select: none;
  margin: 0px;
  padding: 0px;
}

.hide {
  display: none;
}

.myBtn {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 15px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(86 86 86 / 36%);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 1rem;
}

.myBtn:hover {
  background-color: #000;
}

@media only screen and (max-width: 80em) {
  .main {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    user-select: none;
  }
}