.content {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 6rem 4rem;
}

.innerContainer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.titles {
    margin-bottom: 2rem;
}

h1 {
    font-size: 2.5rem;
    font-weight: 200;
    line-height: 1;
    color: var(--color-primary-dark);
    -webkit-letter-spacing: -0.5px;
    -moz-letter-spacing: -0.5px;
    -ms-letter-spacing: -0.5px;
    letter-spacing: -0.5px;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

h2 {
    text-transform: uppercase;
    line-height: 1;
    color: var(--color-primary);
    font-size: 1.2rem;
    font-weight: 700;
}

.itemContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 25rem));
    -webkit-box-pack: space-evenly;
    -webkit-justify-content: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: space-between;
    align-content: space-between;
    -webkit-align-items: start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    padding: 4rem 0;
    grid-gap: 4rem 2rem;
  }
  


@media only screen and (max-width: 90em) {
    .content {
        padding: 6rem 3rem;
    }
}

@media only screen and (max-width: 80em) {
    .content {
        padding: 4rem 2rem;
    }
}

@media only screen and (max-width: 37.5em) {
    .itemContainer {
      grid-template-columns: repeat(auto-fit, minmax(10rem, 23rem));
      -webkit-box-pack: space-around;
      -webkit-justify-content: space-around;
      -ms-flex-pack: space-around;
      justify-content: space-around;
      grid-gap: 4rem 1.5rem;
    }
  }
  
  @media only screen and (max-width: 31.25em) {
    .itemContainer {
      grid-template-columns: repeat(auto-fit, minmax(10rem, 18rem));
      grid-gap: 4rem 1rem;
    }
  }